
.page-wrapper {
    background: white !important;
    width: 100% !important;
    height: 296mm !important;
    /*padding: 20mm;*/
    border: 1px solid black;
    page-break-after: always;
    margin-bottom: 10px;
}

.page-wrapper .inner {
    padding: 5mm;
    border: 2px red solid;
    background: #fff;
    /*width: 170mm;*/
    /*outline: 20mm #FFEAEA solid;*/
}
.page-wrapper .student-info{
    padding: 20px;
    background-color: #f4f4f4;
    -webkit-print-color-adjust: exact;
}
.chart-left, .chart-right{
    width: 80mm;
}
.chart-right .table{
    font-size: 0.2rem;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body, .wrapper, .container {

        all: initial;
        width: 210mm !important;
        height: 297mm !important;
        padding: 0 !important;
        margin: 0 !important;

    }
    .chart-left, .chart-right{
        width: 80mm;
    }
    .chart-right .table{
        font-size: 0.2rem;
    }

    .page-wrapper {
        width: 180mm !important;
        height: 267mm !important;
        margin: 15mm;
        page-break-after: always;

    }

    .page-wrapper .inner {
        border: 2px red solid;
        background: #fff;
    }

    .non-printable, .modal, a.scroll-to-top {
        display: none !important;
    }

}
