{% extends'base.html.twig' %}
{% block main %}
    <input type="hidden" id="student_idx" value="{{ student_idx }}"/>
    <input type="hidden" id="mh_idx" value="{{ mh_idx }}"/>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mave_griffin"> Main</a></li>
                <li class="breadcrumb-item"><a href="branches"> Branch</a></li>
                <li class="breadcrumb-item "><a href="branches/{{ branch_idx }}/students"> {{ branch_name }}</a></li>
                <li class="breadcrumb-item active"> 뇌파측정 실시간 측정중 [{{ student_name }}]   </li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-xl-6  mb-4 ">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">

                    <div class="row no-gutters d-flex flex-row align-items-center">
                        <div class="col-6 ">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">측정 시작 시간 </div>
                        </div>
                        <div class="col-6">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{created_at}}</div>
                        </div>
                    </div>

                    <div class="row no-gutters d-flex flex-row align-items-center">
                        <div class="col-6 ">
                            <div class="text-lg font-weight-bold text-info text-uppercase mb-1">소요 진행 시간</div>
                        </div>
                        <div class="col-6">
                            <div id="currentLastTime" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Concentration</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="attentionChart">
                    </div>
                </div>
            </div>
        </div> <!-- col-lg12-->
    </div>

    <div class="row">
        <!-- delta -->

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-column align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Delta Power(%)</h6>
                    <span>( 델타파 , 0.5 ~ 4 &#13200; ) </span>
                    {#                    <div class="dropdown no-arrow">#}
                    {#                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"#}
                    {#                           aria-haspopup="true" aria-expanded="false">#}
                    {#                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
                    {#                        </a>#}
                    {#                    </div>#}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="deltaChart">
                    </div>
                </div>
            </div>
        </div>

        <!-- theta -->

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-column align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Theta Power (%)</h6>
                    <span>(세타파, 4 ~ 8 &#13200; )</span>
                    {#                    <div class="dropdown no-arrow">#}
                    {#                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"#}
                    {#                           aria-haspopup="true" aria-expanded="false">#}
                    {#                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>#}
                    {#                        </a>#}
                    {#                    </div>#}
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="thetaChart">
                    </div>
                </div>
            </div>
        </div>
        <!-- end theta-->

        <!-- end delta -->

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-column align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Beta Power (%)</h6>
                    <span>(베타파, 12 ~ 30 &#13200; )</span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="betaChart">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-column align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Alpha(%)</h6>
                    <span>(알파파, 8 ~ 12 &#13200; )</span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="alphaChart">
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-column align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Gamma(%)</h6>
                    <span>(감마파, 30 ~ 45 &#13200; )</span>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="gammaChart">
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end of delta, theta, alpha, beta, gamma -->

    <div class="row">
        <div class="col-lg-12">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Stress</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="stressChart">
                    </div>
                </div>
            </div>
        </div> <!-- col-lg12-->
    </div>


    <div class="row">
        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">SDNN</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="sdnnChart">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">RMSSD</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="rmssdChart">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">BPM</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="bpmChart">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}
{% block footer2 %}
    {{ parent() }}
    <div></div>
{% endblock footer2 %}
{% block assets %}
    {{ assets({files:[
        'vendor/plotly/plotly-latest.min.js'
        , 'vendor/moment/moment.js'
        ,'js/chart.js'
        , 'vendor/moment/moment-duration-format.js'
    ]}) }}
{% endblock %}
