{%  extends'base.html.twig' %}
{% block main %}
    <!-- -->
    <input type="hidden" id="branch_idx" value="{{ branch_idx }}"/>
    <input type="hidden" id="branch_name" value="{{ branch }}"/>
    <!-- Page Heading -->
    <div class="row w-100">
        <nav aria-label="breadcrumb" class="w-100">
           <ol class="breadcrumb">
               <li class="breadcrumb-item "><a href="/mave_griffin">Main</a></li>
               <li class="breadcrumb-item"><a href="branches">Branch</a></li>
               <li class="breadcrumb-item active ">{{ branch }}</li>
           </ol>
        </nav>
    </div>

    <div class="row student-row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">중학생</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">홍길동</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-primary"></i>
                        </div>

                    </div>
                    <a href="branches/대치점/students/홍길동/monitor" class="stretched-link"></a>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">일반</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">김길동</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!--  row -->

    <!-- INACTIVE or never done testing before -->
    <div class="portfolio-modal modal fade" id="inactiveStudent" tabindex="-1" role="dialog"
         aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title"> 메시지 </h5>
                    <h5><a href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i></a></h5>
                </div>
                <div class="modal-body text-center">
                    <div class="container">

                        <div class="row ">
                            <div class="col-lg-12 px-3">
                                <p>
                                    선택하신 사용자는 뇌파 테스트를 진행하지 않았습니다.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- list of iterative -->
    <!-- INACTIVE or never done testing before -->


    <div class="portfolio-modal modal fade " id="historyModal" tabindex="-1" role="dialog"
         aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title"> <span id="tableStudentName"></span>님 회차 정보 </h5>
                    <h5><a href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i></a></h5>
                </div>
                <div class="modal-body text-center">
                    <div class="container">
                        <table  class="table" id="studentHistoryTable" style="width:100%">
                            <thead>
                            <tr>
                                <th scope="col">회차</th>
                                <th scope="col">과목</th>
                                <th scope="col">측정 날짜</th>
                            </tr>
                            </thead>
                            <tbody id="mh_list">
                            <tr>
{#                                <th scope="row">1</th>#}
                                <td>--</td>
                                <td>2000-01-01 12:03:02</td>
                            </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- INACTIVE or never done testing before -->
    <div class="portfolio-modal modal fade" id="waitingForLiveStream" tabindex="-1" role="dialog"
         aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title"> 메시지 </h5>
                    <h5><a href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i></a></h5>
                </div>
                <div class="modal-body text-center">
                    <div class="container">

                        <div class="row ">
                            <div class="col-lg-12 px-3">
                                <p>
                                    선택하신 사용자는 뇌파 테스트 실시간 정보가 곧 준비됩니다. 1분 뒤 다시 페이지를 리로딩 해주시기를 바랍니다.
                                </p>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-lg-12 px-3">
                                <button class="btn btn-primary" id="reloadingBtn">리로딩</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{%  endblock %}
{% block assets %}
    {{ assets({files:[
        'js/students.js'
        , 'vendor/moment/moment.js'
        ,'vendor/datatables/jquery.dataTables.min.js'
        ,'vendor/datatables/dataTables.bootstrap4.min.js'
    ], name:'students.js'}) }}

    {{ assets({files:[
        'vendor/datatables/dataTables.bootstrap4.min.css'
    ], name:'datatables.css'}) }}

{% endblock %}
