{% extends'base.html.twig' %}
{% block customCssBlock %}
{% endblock %}
{% block main %}
    <input type="hidden" id="student_idx" value="{{ student_idx }}"/>
    <input type="hidden" id="mh_idx" value="{{ mh_idx }}"/>

    <style>

        /*        .page-wrapper {*/
        /*            background: white !important;*/
        /*            width: 100% !important;*/
        /*            height: 296mm !important;*/
        /*            !*padding: 20mm;*!*/
        /*            !*border: 1px red solid;*!*/
        /*            page-break-after: always;*/
        /*            margin-bottom: 10px;*/
        /*        }*/

        .add-minute::after {
            content: "분";
        }

        .page-wrapper {
            width: 190mm !important;
            height: 280mm !important;
            margin: 10mm;
            page-break-after: always;
            /*border: 5px solid red;*/
        }

        .printable_size {
            width: 190mm !important;
        }

        .page-wrapper .inner {
            padding: 5mm;
            background-color: #ffffff;
            border: 7px solid #204975;
            height: 100%;
            /*width: 170mm;*/
            /*outline: 20mm #FFEAEA solid;*/
        }

        .page-wrapper .student-info {
            padding: 20px;
            background-color: #f4f4f4;
            -webkit-print-color-adjust: exact;
            box-sizing: border-box;
        }

        .page-wrapper .student-info table {
            width: 100%;
            margin-top: 0;
            border: 1px solid #204975;
            font-weight: normal;
            vertical-align: middle;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .page-wrapper .student-info table:first-child {
            margin-top: 0;
        }

        .page-wrapper .student-info table tr:nth-child(2n+1) {
            background-color: #fff;
        }

        .page-wrapper .student-info table th, .page-wrapper .student-info table td {
            font-size: 15px !important;
            height: 35px;
            padding: 0 10px;
        }

        .page-wrapper .student-info table th {
            color: white;
            background-color: #204975;
            border: 0;
            border-bottom: 1px solid #ffffff;
            -webkit-print-color-adjust: exact;
        }

        .page-wrapper .student-info table td {
            background-color: #ffffff;
            border: 0;
            border-bottom: 1px solid #204975;
            -webkit-print-color-adjust: exact;
        }


        .result-title {
            padding: 0 10px;
            margin-bottom: 10px;
            background: rgb(32, 73, 117);
            background: -moz-linear-gradient(90deg, rgba(32, 73, 117, 1) 30%, rgba(255, 255, 255, 0.5) 59%);
            background: -webkit-linear-gradient(90deg, rgba(32, 73, 117, 1) 30%, rgba(255, 255, 255, 0.5) 59%);
            background: linear-gradient(90deg, rgba(32, 73, 117, 1) 30%, rgba(255, 255, 255, 0.5) 59%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#204975", endColorstr="#ffffff", GradientType=1);
            -webkit-print-color-adjust: exact;
        }

        .result-title h2 {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            padding-bottom: 3px;
        }

        .result-text {
            font-size: 1rem;
        }


        .chart-left, .chart-right {
            /*width: 80mm;*/
        }

        .chart-right .table {
            font-size: 0.8rem;
        }


        .powerTable {
            font-size: 0.8rem;
        }

        .powerTable.sm-text {
            font-size: 0.5rem;
        }

        .powerTable th {
            text-align: center;
        }

        table th{
            text-align: center;
        }

        table td {
            text-align: center;
        }

        .is-fire-data{
               {{ displayFireData }}
        }

        @page {
            size: A4;
            margin: 0;
        }

        @media print {
            html, body, .wrapper, .container {

                all: initial;
                width: 210mm !important;
                height: 297mm !important;
                padding: 0 !important;
                margin: 0 !important;

            }

            .chart-left, .chart-right {
                /*width: 80mm;*/
            }

            .page-wrapper {
                width: 190mm !important;
                height: 277mm !important;
                margin: 10mm;
                page-break-after: always;

            }

            .page-wrapper .inner {
                height: 269mm;
                /*border: 2px red solid;*/
                /*background: #fff;*/
            }

            .non-printable, .modal, a.scroll-to-top {
                display: none !important;
            }

        }
    </style>
    <input type="hidden" id='aggMhr' data-aggMhr="{{ aggMhr|json_encode|e('html_attr') }}">
    <input type="hidden" id='mhr' data-mhr="{{ mhr|json_encode|e('html_attr') }}">
    <input type="hidden" id='allMhrLog' data-allMhrLog="{{ allMhrLog|json_encode|e('html_attr') }}">
    <input type="hidden" id='baselineData' data-data="{{ baselineData|json_encode|e('html_attr') }}">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 non-printable">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/mave_griffin"> Main</a></li>
                <li class="breadcrumb-item"><a href="branches"> Branch</a></li>
                <li class="breadcrumb-item "><a href="branches/{{ branch_idx }}/students"> {{ branch_name }}</a></li>
                <li class="breadcrumb-item active"> {{ student_name }} 뇌파측정 리포트</li>
            </ol>
        </nav>
    </div>

    </div>
    <div class="print-page d-flex flex-column align-items-center">
        <div class="non-printable printable_size  ">
            <button class="float-right btn btn-secondary btn-lg " onclick="window.print()"> PRINT</button>
        </div>
        <!-- frequency  -->
        <div class="page-wrapper">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report - {{ resource_name }} <b>1</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="student-info">
                    <table>
                        <tbody>
                        <tr>
                            <th class="td_label">피험자</th>
                            <td class="td_content" id="student_name"> {{ student_name }}</td>
                            <th class="td_label">검사일자</th>
                            <td class="td_content" id="created_at">{{ created_at }} </td>
                        </tr>
                        <tr>
                            <th class="td_label">지점명</th>
                            <td class="td_content"> {{ branch_name }}</td>
                            <th class="td_label">검사과목</th>
                            <td class="td_content" id="resource_name">{{ resource_name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- inspector info -->

                <!--frequeyncResult -->
                <div class="container p-0 m-0">
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Frequency Results</h2></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="chart-left  col-sm-6 col-md-6 col-lg-6">
                            <div id="frequencyResultPieChart"></div>
                        </div>

                        <div class="chart-right col-sm-6 col-md-6 col-lg-6">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Frequency Band</th>
                                    <th scope="col">Average Power (%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td> Delta (0.5 ~4 Hz)</td>
                                    <td> {{ aggMhr[0].avg_delta }}%</td>
                                </tr>
                                <tr>
                                    <td> Theta (4~ 8Hz)</td>
                                    <td>{{ aggMhr[0].avg_theta }}%</td>
                                </tr>
                                <tr>
                                    <td> Alpha (8~ 12Hz)</td>
                                    <td> {{ aggMhr[0].avg_alpha }}%</td>
                                </tr>
                                <tr>
                                    <td> Beta(12~30Hz)</td>
                                    <td> {{ aggMhr[0].avg_beta }}%</td>
                                </tr>
                                <tr>
                                    <td> Gamma (30 ~45 Hz)</td>
                                    <td> {{ aggMhr[0].avg_gamma }}%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <p class="result-text">
                                뇌파는 뇌신경 사이에 신호가 전달될 떄 생기는 전기적 신호로 정신적 상태를 확인하기 위해, 델타, 세타 , 알파 베타, 감마로 분류된 뇌파의 주마수 영역에
                                활성화를
                                통해 현재 사용자의 뇌 활동을 관찰합니다.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="totalFrequencyAvgResultChart"></div>
                        </div>
                    </div>

                </div>

            </div> <!-- div.page-wrapper div.inner-->
        </div>

        <!-- Delta theta-->
        <div class="page-wrapper">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report -{{ resource_name }} <b>2</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="container p-0 m-0">
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Delta Power</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="deltaPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="2">Average Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Time (min)</th>
                                    <th scope="col" colspan="2">Minimum Power(%)</th>
                                    <th scope="col" colspan="2">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>
                                </tr>
                                <tr id="deltaPowerAgg">
                                    <td>{{ aggMhr[0].avg_fp1_delta }}</td>
                                    <td>{{ aggMhr[0].avg_fp2_delta }}</td>


                                    <td>{{ aggMhr[0].max_fp1_delta }}</td>
                                    <td>{{ aggMhr[0].max_fp2_delta }}</td>

                                    <td id="fp1DeltaMaxTime" class="add-minute"></td>
                                    <td id="fp2DeltaMaxTime" class="add-minute"></td>

                                    <td>{{ aggMhr[0].min_fp1_delta }}</td>
                                    <td>{{ aggMhr[0].min_fp2_delta }}</td>

                                    <td id="fp1DeltaMinTime" class="add-minute"></td>
                                    <td id="fp2DeltaMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {#                </div>#}
                    {#                <div class="row">#}
                    <div class="col-lg-12 m-0 p-3">
                        <div class="result-title"><h2>Theta Power</h2></div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="thetaPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="2">Average Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Time (min)</th>
                                    <th scope="col" colspan="2">Minimum Power(%)</th>
                                    <th scope="col" colspan="2">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>
                                </tr>
                                <tr>
                                    <td>{{ aggMhr[0].avg_fp1_theta }}</td>
                                    <td>{{ aggMhr[0].avg_fp2_theta }}</td>


                                    <td>{{ aggMhr[0].max_fp1_theta }}</td>
                                    <td>{{ aggMhr[0].max_fp2_theta }}</td>

                                    <td id="fp1ThetaMaxTime" class="add-minute"></td>
                                    <td id="fp2ThetaMaxTime" class="add-minute"></td>

                                    <td>{{ aggMhr[0].min_fp1_theta }}</td>
                                    <td>{{ aggMhr[0].min_fp2_theta }}</td>

                                    <td id="fp1ThetaMinTime" class="add-minute"></td>
                                    <td id="fp2ThetaMinTime" class="add-minute"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- div.inner div.container -->

            </div>
        </div>
        <!--END  Delta theta-->

        <!-- Alpha Beta-->

        <div class="page-wrapper">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report -{{ resource_name }} <b>3</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="container p-0 m-0">
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Alpha Power</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="alphaPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="2">Average Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Time (min)</th>
                                    <th scope="col" colspan="2">Minimum Power(%)</th>
                                    <th scope="col" colspan="2">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>
                                </tr>
                                <tr id="alphaPowerAgg">
                                    <td>{{ aggMhr[0].avg_fp1_alpha }}</td>
                                    <td>{{ aggMhr[0].avg_fp2_alpha }}</td>


                                    <td>{{ aggMhr[0].max_fp1_alpha }}</td>
                                    <td>{{ aggMhr[0].max_fp2_alpha }}</td>

                                    <td id="fp1AlphaMaxTime" class="add-minute"></td>
                                    <td id="fp2AlphaMaxTime" class="add-minute"></td>

                                    <td>{{ aggMhr[0].min_fp1_alpha }}</td>
                                    <td>{{ aggMhr[0].min_fp2_alpha }}</td>

                                    <td id="fp1AlphaMinTime" class="add-minute"></td>
                                    <td id="fp2AlphaMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Beta Power</h2></div>
                        </div>
                        <div class="row mt-1 p-0">
                            <div class="col-lg-12 col-md-12 ">
                                <div id="betaPowerChart"></div>
                            </div>
                        </div>
                        <div class="row mt-0 p-3">
                            <div class="col-lg-12 col-md-12">
                                <table class="table powerTable table-bordered ">
                                    <thead>
                                    <tr>
                                        <th scope="col" colspan="2">Average Power(%)</th>
                                        <th scope="col" colspan="2">Maximum Power(%)</th>
                                        <th scope="col" colspan="2">Maximum Time (min)</th>
                                        <th scope="col" colspan="2">Minimum Power(%)</th>
                                        <th scope="col" colspan="2">Minimum Time (min)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Fp1</th>
                                        <th>Fp2</th>

                                        <th>Fp1</th>
                                        <th>Fp2</th>

                                        <th>Fp1</th>
                                        <th>Fp2</th>

                                        <th>Fp1</th>
                                        <th>Fp2</th>

                                        <th>Fp1</th>
                                        <th>Fp2</th>
                                    </tr>
                                    <tr>
                                        <td>{{ aggMhr[0].avg_fp1_beta }}</td>
                                        <td>{{ aggMhr[0].avg_fp2_beta }}</td>


                                        <td>{{ aggMhr[0].max_fp1_beta }}</td>
                                        <td>{{ aggMhr[0].max_fp2_beta }}</td>

                                        <td id="fp1BetaMaxTime" class="add-minute"></td>
                                        <td id="fp2BetaMaxTime" class="add-minute"></td>

                                        <td>{{ aggMhr[0].min_fp1_beta }}</td>
                                        <td>{{ aggMhr[0].min_fp2_beta }}</td>

                                        <td id="fp1BetaMinTime" class="add-minute"></td>
                                        <td id="fp2BetaMinTime" class="add-minute"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div> <!-- div.container-->
            </div>
        </div>

        <!--END  Alpha Beta-->
        <!-- Gamma Concentration-->
        <div class="page-wrapper">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report -{{ resource_name }} <b>4</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="container p-0 m-0">

                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Gamma Power</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="gammaPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col" colspan="2">Average Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Power(%)</th>
                                    <th scope="col" colspan="2">Maximum Time (min)</th>
                                    <th scope="col" colspan="2">Minimum Power(%)</th>
                                    <th scope="col" colspan="2">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>

                                    <th>Fp1</th>
                                    <th>Fp2</th>
                                </tr>
                                <tr id="gammaPowerAgg">
                                    <td>{{ aggMhr[0].avg_fp1_gamma }}</td>
                                    <td>{{ aggMhr[0].avg_fp2_gamma }}</td>


                                    <td>{{ aggMhr[0].max_fp1_gamma }}</td>
                                    <td>{{ aggMhr[0].max_fp2_gamma }}</td>

                                    <td id="fp1GammaMaxTime" class="add-minute"></td>
                                    <td id="fp2GammaMaxTime" class="add-minute"></td>

                                    <td>{{ aggMhr[0].min_fp1_gamma }}</td>
                                    <td>{{ aggMhr[0].min_fp2_gamma }}</td>

                                    <td id="fp1GammaMinTime" class="add-minute"></td>
                                    <td id="fp2GammaMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 m-0 p-3">
                        <div class="result-title"><h2>Concentration Level</h2></div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="attentionPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable table-bordered ">
                                <thead>
                                <tr>
                                    <th>Average Score</th>
                                    <th>Maximum Score</th>

                                    <th>Maxmium Time(min)</th>
                                    <th>Minimum Score</th>

                                    <th>Minimum Time(min)</th>
                                    <th>Corelation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                </tr>
                                <tr>
                                    <td>{{ aggMhr[0].avg_attention }}</td>
                                    <td>{{ aggMhr[0].max_attention }}</td>
                                    <td id="attentionMaxTime" class="add-minute"></td>
                                    <td>{{ aggMhr[0].min_attention }}</td>
                                    <td id="attentionMinTime" class="add-minute"></td>
                                    <td id="attentionCorrelation"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--END  gamma attention-->

        <!-- heart, sdnn, rmssd -->
        <!-- Gamma Concentration-->
        <div class="page-wrapper">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report -{{ resource_name }} <b>5</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="container p-0 m-0">

                    <div class="row">
                        <div class="col-lg-12 m-0 px-3">
                            <div class="result-title"><h2>Heartrate Graph</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="bpmPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable sm-text table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col">Average HR</th>
                                    <th scope="col">Maximum HR</th>
                                    <th scope="col">Maximum Time (min)</th>
                                    <th scope="col">Minimum HR(sdnn)</th>
                                    <th scope="col">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="heartrateAgg">
                                    <td>{{ aggMhr[0].avg_bpm }}</td>
                                    <td>{{ aggMhr[0].max_bpm }}</td>
                                    <td id="bpmMaxTime" class="add-minute"></td>
                                    <td>{{ aggMhr[0].min_bpm }}</td>
                                    <td id="bpmMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <!-- sdnn -->
                <div class="container p-0 m-0">

                    <div class="row">
                        <div class="col-lg-12 m-0 px-3">
                            <div class="result-title"><h2>SDNN Graph</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="sdnnPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable sm-text table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col">Average SDNN</th>
                                    <th scope="col">Maximum SDNN</th>
                                    <th scope="col">Maximum Time (min)</th>
                                    <th scope="col">Minimum SDNN(%)</th>
                                    <th scope="col">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="sdnnAgg">
                                    <td>{{ aggMhr[0].avg_sdnn }}</td>
                                    <td>{{ aggMhr[0].max_sdnn }}</td>
                                    <td id="sdnnMaxTime" class="add-minute"></td>
                                    <td>{{ aggMhr[0].min_sdnn }}</td>
                                    <td id="sdnnMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- rmssd-->
                <div class="container p-0 m-0">

                    <div class="row">
                        <div class="col-lg-12 m-0 px-3">
                            <div class="result-title"><h2>RMSSD Graph</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="rmssdPowerChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12 col-md-12">
                            <table class="table powerTable sm-text table-bordered ">
                                <thead>
                                <tr>
                                    <th scope="col">Average RMSSD</th>
                                    <th scope="col">Maximum RMSSD</th>
                                    <th scope="col">Maximum Time (min)</th>
                                    <th scope="col">Minimum RMSSD(%)</th>
                                    <th scope="col">Minimum Time (min)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="rmssdAgg">
                                    <td>{{ aggMhr[0].avg_rmssd }}</td>
                                    <td>{{ aggMhr[0].max_rmssd }}</td>
                                    <td id="rmssdMaxTime" class="add-minute"></td>
                                    <td>{{ aggMhr[0].min_rmssd }}</td>
                                    <td id="rmssdMinTime" class="add-minute"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--END  rmssd rmssd rmssd-->

        <!-- FrequeynceDomainResult , Time Domain Results-->
        <div class="page-wrapper is-fire-data">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report - {{ resource_name }} <b>6</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <!--frequeyncResult -->
                <div class="container p-0 m-0">
                    <div class="row"{##}>
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Frequency Domain Results</h2></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="chart-left  col-sm-6 col-md-6 col-lg-6">
                            <div id="frequencyDomainResultPieChart"></div>
                        </div>

                        <div class="chart-right col-sm-6 col-md-6 col-lg-6">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Frequency Band</th>
                                    <th scope="col">Power(ms<sup>2</sup>)</th>
                                    <th scope="col">Power(%)</th>
                                </tr>
                                </thead>
                                <tbody class="frequencyDomainResultTbody">
                                <tr>
                                    <td> VLF (0.0033~0.04 Hz)</td>
                                    <td> {{ mhr.vlf_power }}</td>
                                    <td> {{ mhr.vlf_pct }}</td>
                                </tr>
                                <tr>
                                    <td> LF(0.04~0.15Hz)</td>
                                    <td>{{ mhr.lf_power }}</td>
                                    <td>{{ mhr.lf_pct }}</td>
                                </tr>
                                <tr>
                                    <td> HF(0.15~0.4Hz)</td>
                                    <td> {{ mhr.hf_power }}</td>
                                    <td> {{ mhr.hf_pct }}</td>
                                </tr>
                                <tr>
                                    <td> LF/HF</td>
                                    <td>-</td>
                                    <td> {{ mhr.lf_hf }}<td>
                                </tr>
                                <tr>
                                    <td> Total</td>
                                    <td> {{ mhr.total_power }}</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Time Domain Results</h2></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Variable</th>
                                        <th scope="col">Units</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody class="frequencyDomainResultTbody">
                                <tr>
                                    <td> Mean RR</td>
                                    <td> (ms)</td>
                                    <td> {{ "%.2f"|format(60000/aggMhr[0].avg_bpm) }}</td>
                                </tr>
                                <tr>
                                    <td> SDNN </td>
                                    <td> (ms)</td>
                                    <td> {{ aggMhr[0].avg_sdnn }}</td>
                                </tr>
                                <tr>
                                    <td> Mean HR</td>
                                    <td> (1/min)</td>
                                    <td> {{ aggMhr[0].avg_bpm }}</td>
                                </tr>
                                <tr>
                                    <td> STD HR</td>
                                    <td> (1/min)</td>
                                    <td> {{  aggMhr[0].std_bpm }}</td>
                                </tr>
                                <tr>
                                    <td> RMSSD</td>
                                    <td> (ms)</td>
                                    <td> {{ aggMhr[0].avg_rmssd }}</td>
                                </tr>
                                <tr>
                                    <td> NN 50</td>
                                    <td> (count)</td>
                                    <td> {{  mhr.pnn50 }}</td>
                                </tr>
                                <tr>
                                    <td> pNN50</td>
                                    <td> (%)</td>
                                    <td> {{ mhr.pnn50_pct }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <p class="result-text">
                                맥파는 심실의 수축과 이완을 통해 현관 내 산소포화도 차이를 통해 측정되는 심장 활동 신호로, 긴장, 스트레스 등과 같은 심리적인 변화를 측정하기 위해
                                심박수, SDNN, RMSSD 등과 같은 지표를 통해 사용자의 심장 활동을 관찰합니다.
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- div.page-wrapper div.inner-->
        </div>
        <!-- END FrequeynceDomainResult , Time Domain Results-->

        <!-- Autonomic Nervous System Analsys-->

        <div class="page-wrapper is-fire-data">
            <div class="page-top d-flex flex-row justify-content-between">
                <img src="images/report_top_title.png" alt="top image ">
                <span class="page-top-number">Brain Activity Report -{{ resource_name }} <b>7</b>/{{ totalPage }}</span>
            </div>
            <div class="inner">
                <div class="container p-0 m-0">
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Autonomic Nervous System Analysis</h2></div>
                        </div>
                    </div>
                    <div class="row mt-1 p-0">
                        <div class="col-lg-12 col-md-12 ">
                            <div id="ansBalanceChart"></div>
                        </div>
                    </div>
                    <div class="row mt-0 p-3">
                        <div class="col-lg-12">
                            <p class="result-text">
                                자율신 경은 신체의 각 기능이 정상적으로 작동하도록 스스로 유지하는 기능으로,
                                상호보완적이나 상반되는 성격의 교감 신경계(SNS)와 부교감 신경계(PNS)로 구분합니다.
                                과도한 긴장이나, 스트레스에 노출하게되면 교감신경게 상대적으로 크게 증가하는 것을
                                관찰할 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 m-0 p-3">
                            <div class="result-title"><h2>Stress Level</h2></div>
                        </div>
                        <div class="row mt-1 p-0">
                            <div class="col-lg-12 col-md-12 ">
                                <div id="stressPowerChart"></div>
                            </div>
                        </div>
                        <div class="row mt-0 p-3">
                            <div class="col-lg-12 col-md-12">
                                <table class="table powerTable table-bordered ">
                                    <thead>
                                    <tr>
                                        <th scope="col" colspan="1">Average Score</th>
                                        <th scope="col" colspan="1">Maximum Score(%)</th>
                                        <th scope="col" colspan="1">Maximum Time (min)</th>
                                        <th scope="col" colspan="1">Minimum Score(%)</th>
                                        <th scope="col" colspan="1">Minimum Time (min)</th>
                                        <th scope="col" colspan="1">Correlation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ aggMhr[0].avg_stress}}</td>
                                        <td>{{ aggMhr[0].max_stress}}</td>
                                        <td id="stressMaxTime" class="add-minute"></td>
                                        <td>{{ aggMhr[0].min_stress }}</td>
                                        <td id="stressMinTime" class="add-minute"></td>
                                        <td id="stressCorrelation"></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div> <!-- div.container-->
            </div>
        </div>
        <!-- END Autonomic Nervous System Analsys-->
    </div><!-- end of print-page-->

    <script src="js/jStat.js"></script>



{% endblock %}
    {% block footer2 %}
        {{ parent() }}
    {% endblock footer2 %}
    {% block assets %}
        {{ assets({files:[
            'vendor/plotly/plotly-latest.min.js'
            , 'vendor/moment/moment.js'
        ]
            , name:'report_library.js'
        }) }}
        {{ assets({files:[
            'js/report-chart.js'
        ]
            , name:'report_chart.js'
        }) }}

    {% endblock %}
