<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Green Goat </title>

    {{ assets({files:['css/sb-admin-2.css']}) }}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body>
<h1>hello</h1>
{{  assets({files:['vendor/jquery/jquery.min.js', 'vendor/bootstrap/js/bootstrap.bundle.min.js', 'vendor/jquery-easing/jquery.easing.min.js','js/sb-admin-2.js']}) }}
<script>
    const remote_location = 'https://mave33.cafe24.com/mave_griffin';
    let requestLocation = remote_location+"/mh_log/1/page/0";

    let request = {
       method:'GET',
       mode:'cors',
       cache:'no-cache',
       credentials: 'same-origin', // include, *same-origin, omit
        headers:{
            'Content-Type' :'application/x-www-form-urlencoded'
       } ,
    }

    async function postData(url = '', data = {}) {
        // Default options are marked with *

        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }
    //
    // fetch(requestLocation, request).then(res => console.log(
    //
    // )));

    fetch(requestLocation).then(res => res.json()).then( data=>{
        console.log(data.message.result.message.map(e=>e.created_at));
    });

</script>
</body>
</html>