{%  extends'base.html.twig' %}
{% block main %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Statistics</h1>
</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Branches</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">2</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-university fa-2x text-gray-300"></i>
                    </div>
                </div>
                <a href="branches" class="stretched-link"></a>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Registered Students</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1,200</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
{#    <div class="col-xl-3 col-md-6 mb-4">#}
{#        <div class="card border-left-info shadow h-100 py-2">#}
{#            <div class="card-body">#}
{#                <div class="row no-gutters align-items-center">#}
{#                    <div class="col mr-2">#}
{#                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tested Users</div>#}
{#                        <div class="row no-gutters align-items-center">#}
{#                            <div class="col-auto">#}
{#                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="progress progress-sm mr-2">#}
{#                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <!-- Pending Requests Card Example -->#}
{#    <div class="col-xl-3 col-md-6 mb-4">#}
{#        <div class="card border-left-warning shadow h-100 py-2">#}
{#            <div class="card-body">#}
{#                <div class="row no-gutters align-items-center">#}
{#                    <div class="col mr-2">#}
{#                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>#}
{#                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>#}
{#                    </div>#}
{#                    <div class="col-auto">#}
{#                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    #}
</div>

{#<div class="row">#}

{#    <div class="col-lg-4">#}
{#        <!-- Default Card Example -->#}
{#        <div class="card mb-4">#}
{#            <div class="card-header d-flex justify-content-center align-items-center">#}
{#               <h1>#}
{#                   <i class="fas fa-university"></i>#}
{#               </h1>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <p>#}
{#                     This icon links to branches of private premium study cafes.#}
{#                </p>#}
{#            </div>#}
{#            <a href="branches" class="stretched-link"></a>#}
{#        </div>#}


{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <!-- Basic Card Example -->#}
{#        <div class="card shadow mb-4">#}
{#            <div class="card-header py-3">#}
{#                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-4"></div>#}
{#</div>#}
{#    #}
{%  endblock %}