{% extends'base.html.twig' %}
{% block main %}
    <!-- Page Heading -->
    <div class="row w-100">
        <nav class="w-100" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="/mave_griffin">Main</a></li>
                <li class="breadcrumb-item active">Branches</li>
            </ol>
        </nav>

    </div>

    <div class="row branch-row">


    </div> <!-- branch row -->

{% endblock %}
{% block assets %}
    {{ assets({files:[
         'js/branches.js'
    ], name:'branches.js'}) }}
{% endblock %}