{#
    This is the base tempalte used as the application layout
     which contains the common elements and decroates all thetemplates.
#}

<!DOCTYPE html>
{#<html lang="{{  app.request.locale }}">#}
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Manage Grinn Gott's premium study library system. ">
    <meta name="author" content="Meddiction">
    <title>{% block title %}  New Brain Wave Mave  {% endblock %}</title>

    <base href="{{ url_for('root') }}"/>

    <!-- custom fonts for this template -->
    {{ assets({files:['css/sb-admin-2.css','vendor/font-awesome/5.0/css/all.min.css']}) }}
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>
<body id="page-top">
{% block wrapper %}

    <!-- Page Wrapper -->
    <div id="wrapper ">
        <!-- start of side  -->
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">
                    <div class="container">

                        <div class="row w-100 ">

                            <div class="col-lg-2">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <h5 class="mr-2 d-done d-lg-inline ">
                                        Makers Library
                                    </h5>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <div class="d-flex justify-content-center align-items-center h-100">
                                    <h1>
                                        MAVE DASH BOARD
                                    </h1>
                                </div>
                            </div>
                            <!-- -->
                            <div class="col-lg-2 ">


                                <!-- Topbar Navbar -->
                                <ul class="navbar-nav ml-auto text-right">

                                    <!-- Nav Item - User Information -->
                                    <li class="nav-item dropdown no-arrow">
                                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">관리자</span>
                                            {#                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">#}
                                            <i class="fas fa-user-circle"></i>
                                        </a>
                                        <!-- Dropdown - User Information -->
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                             aria-labelledby="userDropdown">
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Profile
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Settings
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Activity Log
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#" data-toggle="modal"
                                               data-target="#logoutModal">
                                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Logout
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div> <!-- last col-->
                        </div> <!-- row -->
                    </div> <!-- container-->

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">

                    {% block main %}
                    {% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
{% endblock %}


{% block footer %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer2 %}
{% endblock footer2 %}

{% block javascripts %}
    {{ assets({files:['vendor/jquery/jquery.min.js'
        ,'vendor/bootstrap/js/bootstrap.bundle.min.js'
        ,'vendor/jquery-easing/jquery.easing.min.js'
        ,'vendor/font-awesome/5.0/js/all.min.js'
        ,'js/sb-admin-2.min.js'
    ]}) }}
{% endblock %}
{% block assets %}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
   avoid errors when the 'intl' PHP extension is not available and the application
   is forced to use the limited "intl polyfill", which only supports UTC and GMT

       ,'vendor/plotly/plotly-latest.min.js'
       ,'js/chart.js'
   k#}

</body>


</html>