<!doctype html>
<html lang="en">
<head>
    {% block stylesheet %}
{#        <link rel="stylesheet" href="/css/sb-admin-2.min.css"/>#}
        <link rel="stylesheet" href="{{ asset( '/css/sb-admin-2.min.css')}}"/>
    {% endblock %}
    <base href="{{ url_for('root') }}"/>

</head>
<h1>Hello{{ name }}</h1>
<blockquote>Rendered with 🌱</blockquote>
{% set itmes=['a','b','c','d','e','f'] %}
<table>
    {% for row in itmes|batch(3,'No item') %}
    <tr>
        {% for column in row %}
            <td>{{ column }}</td>
        {% endfor %}

    </tr>
    {% endfor %}
</table>
<hr>
<a class="btn btn-google">dddd</a>
</html>
